<mat-sidenav-container style="min-height: 100vh; background-color: #ECEEFD">
  <mat-toolbar color="primary">
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <img src="../assets/Xarda_negativ.png" style="height: 2.5em"/>
      <h1 style="color: red; font-size: 1.5em">Environment: {{profile}}</h1>
      <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav #sidenav mode="push" position="end" [(opened)]="showSideNav">
    <nav style="margin-right: 10px">
      <ul style="list-style: none">
        <li><a routerLink="/requestSlot" routerLinkActive="active">Request Slot</a></li>
        <li><a routerLink="/modifyPickup/e18b2551-f09e-48e9-b000-010883d11d76" routerLinkActive="active">Modify Pickup</a></li>
        <li><a routerLink="/bolCombiner" routerLinkActive="active">BoL Combiner</a></li>
        <li><a routerLink="/acceptContainer" routerLinkActive="active">Accept Container</a></li>
        <li><a routerLink="/acceptGoods/123" routerLinkActive="active">Accept Goods</a></li>
        <li><a routerLink="/trackingState/123" routerLinkActive="active">Tracking State</a></li>
      </ul>
    </nav>
  </mat-sidenav>
  <div style="display: flex; justify-content: center;">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
