<div style="display: flex; flex-direction: column; justify-content: center;width: 90vw;">
  <div *ngFor="let step of steps; let i = index"
       style="margin-top: 1em;display: flex; flex-direction: column; justify-content: center;padding: 0.5em;">
    <mat-card>
      <div style="width: fit-content; height: fit-content; font-size: 1.3rem">
        <div *ngIf="i >= completedIndex"
             style="border-radius: 2em; background-color: rgb(210,51,105); width: 2em; height: 2em; text-align: center;float: left;">
          <p style="padding-top: 0.5em">{{i + 1}}</p></div>
        <i *ngIf="i < completedIndex" class="fas fa-check-circle" style="float: left; font-size: 2em; color: green"></i>
        <div style="float:left; padding-top: 0.5em; padding-left: 0.5em">{{step}}</div>
      </div>
      <div *ngIf="getContent(i).length > 0">
        <table style="width: fit-content; margin: 1em auto;">
          <tr *ngFor="let contentItem of getContent(i)">
            <td>
              {{contentItem?.label}}
            </td>
            <td style="width: fit-content">
              {{contentItem?.value}}
            </td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
</div>
