<div style="display: block;">
  <div>
    <h2>Add Goods</h2>
  </div>
    <table #itemTable mat-table [dataSource]="addedItems" style="width: 100%">
      <ng-container matColumnDef="mark">
        <th mat-header-cell *matHeaderCellDef>Mark</th>
        <td mat-cell *matCellDef="let good"> {{good.mark}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let good"> {{good.identityNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="#packages">
        <th mat-header-cell *matHeaderCellDef># Packages</th>
        <td mat-cell *matCellDef="let good"> {{good.noOfPackages}} </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let good"> {{good.descriptionOfGoods.product}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  <mat-divider></mat-divider>
  <div style="width: 100%">
    <div style="width: fit-content; margin: 5vh auto 0 auto">
      <button mat-stroked-button color="primary" (click)="openDialog()" style="">Add Item</button>
    </div>
  </div>

</div>


